@font-face {
    font-family: MPLUS1p-light;
    src: url(M_PLUS_1p/MPLUS1p-Light.ttf);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
   
}

.left-side{
    width: 40%;
    background-image: url(imgs/foglie.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: MPLUS1p-light;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 9vh;
}

.logo{
    max-width: 25vh;
    min-width: 25vh;
}
.background{
    height: 40vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side{
    width: 60%;
}


.top,
.form,
.log-in{
    padding-left: 20px;
    font-family: MPLUS1p-light;
}

.top{
    font-size: 2vh;
    display: flex;
    align-items: end;
}

.form{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: black;
}

legend, .form-container, .button {
    margin: 30px 0; /* Add margin above and below each element */
}

.log-in{
    font-size: 2vh;
}

.top,
.log-in{
    display: flex;
    height: 30vh;
    background-color: #2B5940;
    color: white;
}

.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 40vw;
}

.form-row{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
}

button{
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #FFBF00;
}

legend{
    margin-top: 0;
}
input{
    width: 200px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: aquamarine;
}

input{
    border: none;
    border-radius: 5px;
    height: 3vh;
    font-size: 2vh;
}

input:invalid{
    border: 2px red solid;
}

input:valid{
    border: 2px #2B5940 solid;
}

input:focus{
    border: 2px blue solid;
}